body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search {
  margin-bottom: 2rem;
}

.recipe-grid {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  flex-wrap: wrap;
}

.recipe {
  margin: 0 auto 2rem auto;
  width: 260px;
  padding: 0 0.4rem 2rem 0.4rem;
  text-align: left;
}

.recipe img {
  width: 100%;
}

.diet-label-container {
  display: flex;
}

.diet-label {
  background-color: rgb(68, 68, 186);
  border-radius: 6px;
  color: #fff;
  font-size: 0.8rem;
  margin: 0 0.2rem 0.4rem 0;
  padding: 0.3rem 0.4rem;
}

.ingredients-list {
  list-style: none;
}
