body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(223, 234, 224);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-title {
  color: rgb(76, 75, 75);
  font-size: 2.4rem;
  margin-bottom: 0;
}

#edamam-badge {
  margin-bottom: 1rem;
}

.search {
  display: flex;
  margin: 0 auto 2rem;
  width: 600px;
}

.search-element {
  text-align: left;
  width: 30%;
}

.search-element label {
  color: rgb(69, 69, 69);
  display: block;
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.search-element input,
.search-element select {
  background-color: rgb(222, 221, 221);
  border: 1px solid rgb(164, 164, 164);
  border-radius: 6px;
  font-size: 1rem;
  padding: 0.4rem 0.4rem;
  width: 90%;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.recipe-grid {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  flex-wrap: wrap;
}

.recipe {
  margin: 0 auto 2rem auto;
  width: 260px;
  padding: 0 0.4rem 2rem 0.4rem;
  text-align: left;
}

.recipe img {
  border-radius: 2%;
  margin-bottom: 0.6rem;
  width: 100%;
}

.diet-label-container {
  display: flex;
}

.diet-label {
  background-color: rgb(68, 68, 186);
  border-radius: 6px;
  color: #fff;
  font-size: 0.7rem;
  margin: 0 0.2rem 0.4rem 0;
  padding: 0.3rem 0.4rem;
}

.High-Protein {
  background-color: rgb(205, 71, 71);
}

.High-Fiber {
  background-color: rgb(207, 155, 60);
}

.Low-Carb {
  background-color: rgb(186, 186, 49);
}

.Low-Fat {
  background-color: rgb(79, 157, 79);
}

.Low-Sodium {
  background-color: rgb(71, 71, 168);
}

.Balanced {
  background-color: rgb(145, 60, 145);
}

.recipe-label {
  color: rgb(76, 75, 75);
  margin: 0;
}

.recipe-link {
  margin-bottom: 1rem;
}

.recipe-link a {
  color: rgb(50, 92, 218);
  font-size: 0.8rem;
  text-decoration: none;
}

.recipe-link a:hover {
  color: rgb(98, 128, 216);
}

button.toggle-ingredients {
  background-color: rgb(92, 161, 98);
  border: none;
  color: #fff;
  padding: 0.4rem 0;
  width: 50%;
}

.ingredients-list {
  list-style-position: inside;
  margin: 1rem 0 0 0;
  padding: 0.2rem;
}

.ingredient {
  font-size: 0.8rem;
  line-height: 1.4;
  margin-bottom: 0.6rem;
}
